---
import type { CollectionEntry } from 'astro:content'
import { isExternal } from '~/lib/server'

interface Props {
    projects: CollectionEntry<'projects'>['data'][string]
}

const {
    projects,
} = Astro.props

---

<ul grid="~ cols-1 gap-7 sm:(gap-5 cols-2) items-stretch">
    {projects.map(project => (
        <li
            class="group relative cursor-pointer border border-transparent rd border-dashed lt-sm:first-mt--10"
        >
            <div
                class="absolute inset-0 z-10 size-full border border-c-border-accent rd border-dashed transition-transform-300 ease-out"
                group-hover="translate-x-1 translate-y-1"
            />
            <div
                bg-c-bg
                class="absolute inset-0 z-20 size-full border border-c-border-accent rd border-dashed transition-transform-300 ease-out"
                group-hover="translate-x--1 translate-y--1"
            />
            <a
                class="relative z-30 p-7 transition-transform-300 ease-out sm:p-3"
                group-hover="translate-x--1 translate-y--1"
                flex="~ col items-stretch"
                href={project.link}
                {...isExternal(project.link) ? { rel: 'noreferrer', target: '_blank' } : {}}
            >
                <div class="relative overflow-hidden before:content-empty" before="absolute inset-0 c-sk rd-sm">
                    <img
                        class="image-unloaded image-loaded aspect-[16/10] h-auto w-full rd-sm op-0"
                        loading="lazy"
                        decoding="async"
                        src={project.image}
                        alt={`${project.title} image`}
                        onload="window?.cImageOnLoad?.call(this)"
                        onerror="window?.cImageOnError?.call(this)"
                    />
                </div>
                <div class="mb-1 mt-2 px-2">
                    <h3
                        class="text-c-fg-3 font-semibold tracking-tight"
                        flex="~ justify-start items-center"
                    >
                        {project.title}
                        <i
                            class="i-uil:arrow-right translate-x--1 translate-y-1 rotate--45 text-base op-0 transition-all-200 ease-in-out"
                            group-hover="translate-x-0 translate-y-0 op-100"
                        ></i>
                    </h3>
                    <p class="line-clamp-2 text-sm text-c-fg-2">
                        {project.desc}
                    </p>
                </div>
            </a>
        </li>
    ))}
</ul>

