---
import type { CollectionEntry } from 'astro:content'

interface Props {
    posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

{posts.map((post, idx) => (
    <li
        class="group slide-enter relative cursor-pointer border border-transparent rd border-dashed"
        style={`--enter-stage: ${(idx + 1) * 2}`}
    >
        <div
            class="absolute inset-0 z-10 size-full border border-c-border-accent rd border-dashed transition-transform-300 ease-out"
            group-hover="translate-x-1 translate-y-1"
        />
        <div
            bg-c-bg
            class="absolute inset-0 z-20 size-full border border-c-border-accent rd border-dashed transition-transform-300 ease-out"
            group-hover="translate-x--1 translate-y--1"
        />
        <a
            class="relative z-30 block p-7 transition-transform-300 ease-out"
            group-hover="translate-x--1 translate-y--1"
            href={post.data.link}
        >
            <h2
                class="text-xl text-c-fg-3 font-semibold sm:text-2xl"
                flex="~ justify-start items-center"
            >
                {post.data.title}
                <i
                    class="i-uil:arrow-right translate-x--1 text-base op-0 transition-all-200 ease-in-out"
                    group-hover="translate-x-1 op-100"
                ></i>
            </h2>
            <p
                class="mb-1 mt-3 text-sm text-c-fg-2"
            >
                {post.data.desc}
            </p>
            <time
                class="text-xs text-c-fg"
                datetime={post.data.date?.iso}
            >
                Posted on {post.data.date?.listText}
            </time>
            {
                post.data.lang === 'zh'
                && (<sup role="img" class="i-icon-park-outline:chinese absolute right-3 top-3 rd-1 text-xs text-c-fg-1"></sup>)
            }
        </a>
    </li>
))}
